.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.top {
  width: 100px;
  height: 25px;
  background-color: #7aa944;
}

.body {
  width: 90px;
  height: 60px;
  background-color: #5c7e32;
}

.tie {
  position: absolute;

  background-color: red;
  width: 15px;
  height: 85px;
}

.tie2 {
  position: absolute;

  background-color: red;
  height: 15px;
  width: 90px;
}